# Desktop entry file for Open Syobon Action
# Refer the Desktop Entry Specification on how to write this file:
# https://specifications.freedesktop.org/desktop-entry-spec
[Desktop Entry]
Version=1.0
Type=Application
Name=Open Syobon Action(Snap Distribution)
Name[ja_JP]=オープンしょぼんのアクション(Snap Distribution)
Comment=An open-source cross-platform port of the unforgiving Japanese platformer
Comment[zh_TW]=殘酷無情的日本語平台動作遊戲的開放來源碼跨平台移植版本
Comment[ja_JP]=「しょぼんのアクション」のオープンソースポート
Exec=open-syobon-action
Icon=${SNAP}/meta/gui/open-syobon-action.png
Categories=Game;ActionGame
